* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F7F7;
    border-bottom: 2px solid rgba(0,0,0,.2);
}

.nav-bar div {
    padding: 10px;
}

.titulo-principal h1{
    font-size: 18px;
    font-weight: 100;
}

main {
    background-color: #DBE2EF;
    height: 100vh;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.content-main, .flex-botones {
    display: flex;
    justify-content: space-evenly;
}

.input-content, .output-content {
    width: 50%;
}

.input-content > div:nth-child(1){
    width: max-content;
    margin: 0 auto;
}

textarea, .output {
    text-transform: lowercase;
    border: none;
    background: none;
    outline: none;
    resize: none;
    font-size: 18px;
    width: 320px;
    height: 420px;
}

.content-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.content-inf i, .content-inf p {
    padding: 10px;
}

.button {
    background-color: #3F72AF;
    color: #F9F7F7;
    border: 2px solid #112D4E;
    border-radius: 30px;
    padding: 20px 30px;
    width: 180px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #DBE2EF;
    color: #112D4E;
}

.output-content div {
    margin: 0 auto;
}

.output-content > div:last-child {
    margin-top: 65px;
}

.output {
    background-color: #F9F7F7;
    border: 2px solid #112D4E;
    border-radius: 35px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    position: relative;
    padding: 20px;
    word-break: break-word;
}

.sin-texto-img img {
    width: 310px;
}

.sin-texto-img {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flex-footer div {
    padding: 0 30px;
}

.flex-footer div p {
    font-size: 18px;
}

.flex-footer div p:first-child {
    text-align: center;
}

.no-active {
    display: none;
}

.active {
    display: block;
}

@media screen and (max-width: 800px) {
    main {
        height: auto;
    }

    .content-main {
        display: block;
    }

    .input-content, .output-content {
        width: auto;
    }
    
    .input-content {
        margin-bottom: 100px;
    }

    .flex-footer div p {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .flex-botones {
        display: block;
    }
    
    textarea {
        width: auto;
    }

    .content-inf {
        width: 260px;
        margin: 0 auto;
        text-align: center;
    }

    .output-content > div:first-child{
        margin: 0 auto;
    }

    .sin-texto-img img {
        width: 200px;
    }

    .flex-botones {
        width: max-content;
        margin: 0 auto;
    }

    .flex-botones div {
        margin: 30px 0;
    }

    .flex-footer {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }
}

@media screen and (max-width: 335px) {
    .output {
        width: 230px;
    }
    .titulo-principal h1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 250px) {
    .titulo-principal h1 {
        font-size: 10px;
    }
    .content-inf {
        width: auto;
    }
    .content-inf p {
        font-size: 12px;
        padding: 0;
    }
}